<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="  http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-2.5.xsd  http://camel.apache.org/schema/spring  http://camel.apache.org/schema/spring/camel-spring.xsd">

	<!--
		use jencks connection pooling so its more effecient to send JMS
		messages
	-->
	<amqpool:pool id="jmsConnectionFactory" xmlns:amqpool="http://jencks.org/amqpool/2.0"
		brokerURL="tcp://localhost:61616" maxConnections="8" />

	<bean id="jmsConfig" class="org.apache.camel.component.jms.JmsConfiguration">
		<property name="connectionFactory" ref="jmsConnectionFactory" />
		<property name="transacted" value="false" />
		<property name="concurrentConsumers" value="10" />
	</bean>

	<bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent">
		<property name="configuration" ref="jmsConfig" />
	</bean>



	<camelContext xmlns="http://camel.apache.org/schema/spring">
		<route>
			<from uri="activemq:topic:packetarchive.insert" />
			<to uri="ibatis:ibatorgenerated_insert?statementType=Insert" />
		</route>
		<route>
			<from uri="activemq:topic:parameterarchive.insert" />
			<to uri="ibatis:ibatorgenerated_insert?statementType=Insert" />
		</route>
		
	</camelContext>

</beans>