
target/
.settings/
hummingbird/xtce/src/main/java/com/logica/hummingbird/xtce/castor/
.metadata/
.project
.classpath
.springBeans
.idea/
*.iml
.DS_Store
*.log


src/business/simple-parameter-simulator/simple-parameter-simulator.log.11-02-20
*.log*
src/business/time-correlation/.pydevproject
src/application/web-backend/bin/



#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*Thumbs.db
src/application/web-client/.externalToolBuilders/org.eclipse.wst.jsdt.core.javascriptValidator.launch
