body {
	
}

#dataArea {
/* 	border: thin solid lime; */
}

#filtering {
/* 	border: thin solid red; */
	display: inline-block;
	vertical-align: top;
	margin: 3px;
}

#filtering #filterControls {
	margin-top: 4px;
    padding: 2px 2px;
    text-align: center;
}

#filtering #filterControls button {
	margin-left: 0px;
}

#filtering input {
	width: 100%;
}

#timeRange {
}

#tableContainer {
	margin: 8px 8px 0px 8px;
	width: 80%;
	display: inline-block;
}

.tableOptionsContainer {
	position: fixed;
	top: 50%;
	margin-top: -250px;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	height: 500px;
	background-color: hsla(0, 5%, 10%, 1);
}

tr {
	color: black;	
}

/*
 Datatable's default row colours
*/
tr.odd {
	background-color: rgb(246, 246, 246) !important;
}

tr.even {
	background-color: rgb(221, 221, 221) !important;
}

tr.even td.sorting_1 {
	background-color: rgb(211, 211, 221) !important;
}

tr.odd td.sorting_1 {
	background-color: rgb(236, 236, 246) !important;
}