<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	This web.xml file is not required when using Servlet 3.0 container, 
	see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html#d4e194
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://java.sun.com/xml/ns/javaee" 
		 xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
		 version="2.5">
		 
	<display-name>Halcyon</display-name>
		 
	
<!-- 	<context-param> -->
<!-- 		<param-name>contextConfigLocation</param-name> -->
<!-- 		<param-value>classpath:webAppContext.xml</param-value> -->
<!-- 		<param-value>classpath:WEB-INF/classes/spring/webAppContext.xml</param-value> -->
<!-- 	</context-param> -->
	
	<listener>
		<listener-class>org.hbird.application.halcyon.WebAppContextListener</listener-class>
	</listener>
	
	<servlet>
<!-- 		<servlet-name>Hbird-jersey-spring-servlet</servlet-name> -->
<!--    		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class> -->
	
		<servlet-name>hbird-jersey-servlet</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		
		<init-param>
			<param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
			<param-value>com.sun.jersey.api.core.ClassNamesResourceConfig</param-value>
		</init-param>
		
		<init-param>
			<param-name>com.sun.jersey.config.property.classnames</param-name>
			<param-value>
				org.hbird.application.halcyon.CommandListResource,
				org.hbird.application.halcyon.TelemetryListResource,
				org.hbird.application.halcyon.HalcyonResource
			</param-value>
		</init-param>
		
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>hbird-jersey-servlet</servlet-name>
		<url-pattern>/halcyon/*</url-pattern>
	</servlet-mapping>
	
</web-app>