<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgi="http://www.springframework.org/schema/osgi"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi-1.2.xsd 
						http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

	<bean id="exampleEndpoint" class="com.logica.hummingbird.example.ExamplePojoEndpoint">
	</bean>

  <bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent">
    <property name="brokerURL" value="tcp://127.0.0.1:61616"/>
  </bean>

	
	<camelContext xmlns="http://camel.apache.org/schema/spring">
		<route>
			<from uri="activemq:q1"/>
			<to uri="bean:exampleEndpoint"/>
		</route>
	</camelContext>

</beans>
