.hidget {
	padding: 4px;
	border: thin solid rgba(255, 255, 255, 0.5);
	font-size: 10px;
}

.hidget button {
	font-size: 1em;
	float: right;
}

.hidget h3 {
	display: inline;
}

.hidget .titleArea {
	display: block;
	margin-bottom: 14px;
}

.parameterSearchInput {
	width: 100%;
}