.widget {
	padding: 4px;
	border: thin solid rgba(255, 255, 255, 0.5);
	font-size: 10px;
}

.widget button {
	width: 16px;
	height: 16px;
	font-size: 1em;
	float: right;
}

.widget h2 {
	color: hsla(0, 100%, 100%, 0.7);
	display: inline;
	text-shadow: none;
}

.widget .titleArea {
	display: block;
	margin-bottom: 14px;
}

.widget .valueDisplay {
	text-align: center;
}

.widget .value {
	font-size: 3em;
	font-weight: bold;
}

.widget .unit {
	font-size: 2em;
}

.parameterSearchInput {
	width: 100%;
	height: 28px;
	font-size: 14px;
}

.widget .content {
	font-size: 14px;
}

.plot {
	width: 610px;
	height: 240px;
}