body {
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
}

h1 {
	font-size: 2.25em; /* 16x2.25=36 */
}

h2 {
	font-size: 1.5em; /* 16x1.5=24 */
}

h3 {
	font-size: 1.125em; /* 16x1.125=18 */
}

h4 {
	font-size: 0.875em; /* 16x0.875=14 */
}

p {
	font-size: 0.75em; /* 16x0.75=12 */
	hyphenate: auto;
}